<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tns="http://test.soap.service.xeniale.github.com/"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://cxf.apache.org/jaxws
          http://cxf.apache.org/schemas/jaxws.xsd
          http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.github.xeniale.backendexamples.misc.service"/>
    <context:property-placeholder/>

    <bean id="bookService" class="com.github.xeniale.backendexamples.misc.service.BookShelfServiceImpl"/>

    <jaxws:endpoint id="bookServiceWs"
                    serviceName="tns:BookShelfServiceService"
                    endpointName="tns:BookShelfServiceServiceSoapBinding"
                    implementor="#bookService"
                    address="http://127.0.0.1:2010/"
                    wsdlLocation="/com/github/xeniale/projects/testing/streaming/soap/service/wsdl/BookShelfServiceService.wsdl"/>

</beans>
